@import "tailwindcss";


@theme {
      /* Change ALL default fonts to JetBrains Mono */
  --font-sans: "JetBrains Mono", "monospace";
  --font-serif: "JetBrains Mono", "monospace";
  --font-mono: "JetBrains Mono", "monospace";

  --color-default-bg: #FEFAE0; /* background */
  --color-object-bg: #E4AD6D; /* secondary background*/
  --color-object-hv-bg: #E69E4B; /* hover background*/
  --color-light-text: #606C38; /* default background green text */
  --color-light-text2 : #414531; /* secondary background light text */
  --color-dark-text: #283618; /* text color */
}